<%= form_for(comment, url: post_comment_url(comment), html: { method: :patch, class: 'comment-form' }) do |f| %>
  <div class="comment-form__header">
    <h3 class="comment-form__header__title">Edit comment</h3>
  </div>
  <div class="comment-form__body">
    <% if parent %>
      <input type="hidden" name="comment[parent_id]" value="<%= parent.id %>"/>
    <% end %>
    <div class="form-field">
      <textarea name="comment[body]" id="comment_body" class="form-field__text-area" rows="5"><%= comment.body %></textarea>
    </div>
    <div class="form-field">
      <input type="submit" name="commit" value="Submit" class="button button--green" data-disable-with="Submit"/>
    </div>
  </div>
  <div class="comment__footer">
    <%= image_tag comment.user.avatar.thumb.url, class: 'comment__footer__image', alt: comment.user.full_name %>
    <span class="comment__footer__time"><%= comment.user.full_name %> (<%= comment.created_at %>)</span>
  </div>
<% end %>
