<div class="post" data-id="<%= post.id %>">
  <div class="post__header">
    <% if has_link %>
      <%= link_to(post_url(post.id), class: 'post__header__title post__header__title--link') do %>
        <%= post.full_title %>
      <% end %>
    <% else %>
      <h3 class="post__header__title"><%= post.full_title %></h3>
    <% end %>
  </div>
  <div class="post__body">
    <% if truncate_text %>
      <p class="post__body__text post__body__text--truncate"><%= post.body %></p>
    <% else %>
      <p class="post__body__text"><%= post.body %></p>
    <% end %>
  </div>
  <div class="post__footer">
    <% if can? :destroy, post %>
      <%= link_to '', post_url(post), method: :delete, remote: async_delete, class: 'icon icon--trash icon--link', data: { confirm: 'Are you sure?' } %>
    <% end %>
    <% if can? :edit, post %>
      <%= link_to '', edit_post_url(post), class: 'icon icon--pencil icon--link' %>
    <% end %>
    <% if has_link %>
      <%= link_to(post_url(post.id), class: 'icon icon--comments icon--link') do %>
        <%= post.comments.count(:id) %>
      <% end %>
    <% else %>
      <span class="icon icon--comments">
        <%= post.comments.length %>
      </span>
    <% end %>
    <%= image_tag post.user.avatar.thumb.url, class: 'post__footer__image', alt: post.user.full_name %>
    <span class="post__footer__time">
      <%= post.user.full_name %> (<%= post.created_at %>)
    </span>
  </div>
</div>
